[Unit]
Description=Check AjustCam TURN certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 03,15:25:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
